<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cart</title>
    <link rel="stylesheet" href="../css/reset.css" type="text/css" />
    <link rel="stylesheet" href="../css/cart.css" type="text/css" />
    <link rel="stylesheet" href="../css/header.css" type="text/css" />
    <link rel="stylesheet" href="../css/footer.css" type="text/css" />
</head>

<body>
    <!-- Headerrrrr -->
    <div class="header">
        <div class="header_contact">
            <div class="h_contact_phone">
                <div class="ct_phone_img">
                    <img src="../images/phone_header.png" alt="" />
                </div>
                <div class="ct_phone_content">Hotline: (01) 23 456 789</div>
            </div>
            <div class="h_contact_title">Welcome Guest, have a nice day!</div>
        </div>
        <div class="header_content">
            <div class="header_logo">
                <a href="#"><img src="../images/logo.png" alt="" /></a>
            </div>
            <div class="header_navbar">
                <a href="#">
                    <div class="h_navbar_item h_navbar_item_tick">HOME</div>
                </a>
                <a href="#">
                    <div class="h_navbar_item">ABOUT US</div>
                </a>
                <a href="#">
                    <div class="h_navbar_item h_navbar_item_down">
                        <p>SHOP</p>
                        <img src="../images/img_down.png" alt="" />
                    </div>
                </a>
                <a href="#">
                    <div class="h_navbar_item">CONTACT</div>
                </a>
            </div>
            <div class="header_cart">
                <div class="header_cart_img">
                    <a href="#">
                        <img src="../images/cart_img.png" alt="" />
                    </a>
                    <div class="cart_img_absolute">0</div>
                </div>
                <div class="header_cart_content">$ 0.00</div>
            </div>
            <div class="header_menu">
                <img src="../images/menu.png" alt="" />
            </div>
        </div>
    </div>
    <div class="header_sub hidden">
        <div class="header_sub_container">
            <a href="#">
                <div class="header_sub_arrow">
                    <img src="../images/hd_sub_arrow.png" alt="">
                    <div class="header_sub_title hidden">
                        SHOP
                    </div>
                </div>
            </a>
            <div class="header_sub_box1">
                <a href="#">
                    <div class="h_sub_b1_item">
                        <div class="h_sub_b1_item_content h_navbar_item_tick">HOME</div>
                        <div class="h_sub_b1_item_img">
                            <img src="../images/hd_sub_arr1.png" alt="">
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div class="h_sub_b1_item">
                        <div class="h_sub_b1_item_content">ABOUT US</div>
                        <div class="h_sub_b1_item_img">
                            <img src="../images/hd_sub_arr1.png" alt="">
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div class="h_sub_b1_item h_sub_b1_item_shop">
                        <div class="h_sub_b1_item_content">SHOP</div>
                        <div class="h_sub_b1_item_img">
                            <img src="../images/hd_sub_arr1.png" alt="">
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div class="h_sub_b1_item">
                        <div class="h_sub_b1_item_content">CONTACT</div>
                        <div class="h_sub_b1_item_img">
                            <img src="../images/hd_sub_arr1.png" alt="">
                        </div>
                    </div>
                </a>
                <div class="h_sub_cart">
                    CART (0)
                </div>
            </div>
            <div class="header_sub_box2 hidden">
                <a href="#">
                    <div class="h_sub_b1_item">
                        <div class="h_sub_b1_item_content">FOR WOMEN</div>
                        <div class="h_sub_b1_item_img">
                            <img src="../images/hd_sub_arr1.png" alt="">
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div class="h_sub_b1_item">
                        <div class="h_sub_b1_item_content">FOR MEN</div>
                        <div class="h_sub_b1_item_img">
                            <img src="../images/hd_sub_arr1.png" alt="">
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div class="h_sub_b1_item">
                        <div class="h_sub_b1_item_content">FOR UNISEX</div>
                        <div class="h_sub_b1_item_img">
                            <img src="../images/hd_sub_arr1.png" alt="">
                        </div>
                    </div>
                </a>
            </div>



        </div>
    </div>
    <!-- End header -->

    <!-- Footer -->
    <div class="footer">
        <div class="footer_box">
            <div class="footer_box1">
                <div class="ft_box1_first">
                    <div class="footer_title">
                        contact us
                    </div>
                    <div class="footer_content">
                        <div class="footer_item">
                            <div class="footer_item_img">
                                <img src="../images/footer_phone.png" alt="">
                            </div>
                            <div class="footer_item_content">(01) 23 456 789</div>
                        </div>
                        <div class="footer_item">
                            <div class="footer_item_img">
                                <img src="../images/footer_email.png" alt="">
                            </div>
                            <div class="footer_item_content">support.fashion@gmail.com</div>
                        </div>
                        <div class="footer_item">
                            <div class="footer_item_img">
                                <img src="../images/footer_map.png" alt="">
                            </div>
                            <div class="footer_item_content">254 Milacina Streets, Behansed Tower, London</div>
                        </div>
                    </div>
                </div>
                <div class="ft_box1_second">
                    <div class="ft_b1_second_left">
                        <div class="footer_title">
                            GET HELP
                        </div>
                        <div class="footer_content">
                            <div class="footer_item">
                                <div class="footer_item_content">Privacy Policy</div>
                            </div>
                            <div class="footer_item">
                                <div class="footer_item_content">Customer Service</div>
                            </div>
                            <div class="footer_item">
                                <div class="footer_item_content">Payment options</div>
                            </div>
                        </div>
                    </div>
                    <div class="ft_b1_second_right">
                        <div class="footer_title">
                            quick Link
                        </div>
                        <div class="footer_content">
                            <div class="footer_item">
                                <div class="footer_item_content">About us</div>
                            </div>
                            <div class="footer_item">
                                <div class="footer_item_content">Shop</div>
                            </div>
                            <div class="footer_item">
                                <div class="footer_item_content">Cart</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ft_box1_end">
                    <div class="ft_b1_second_left">
                        <div class="footer_title">
                            SUBCRIbE FOR OUR NEWSLETTER
                        </div>
                        <div class="footer_content">
                            <div class="footer_item_content2">
                                <input type="text" placeholder="youremail.@gmail.com">
                                <div class="submit_footer">Submit</div>
                            </div>
                            <div class="footer_network">
                                <a href="#"> <img src="../images/instagram.png"></a>
                                <a href="#"> <img src="../images/facebook.png"></a>
                                <a href="#"> <img src="../images/linkedin.png"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer_box2">
                <div class="footer_box2_item">
                    ©2022 Fashion Designer, Adamo Software
                </div>
                <div class="footer_box2_item">
                    <img src="../images/cash.png">
                    <img src="../images/visa.png">
                    <img src="../images/paypal.png">
                </div>
            </div>
        </div>
    </div>
    <!-- End footer -->

    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script type="text/javascript" src="../js/header.js"></script>
    <script type="text/javascript" src="../js/cart.js"></script>

</body>

</html>